html {
    font-size: 16px;
    max-width: 417px;
    margin: 0 auto;
  }

body {
  background-color: #EFEA8E;
  font-family: 'Lato', sans-serif;
  margin: 0 0 70px 0;
}

.body-container {
  max-width: 85%;
  margin: 0 auto;
}

h1{
  margin: 1.5em auto;
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
  text-align: center;
}

p {
  font-size: 1.3em;
}

.title{
  padding: 15px 30px 20px 30px;
  background-image: url("img/bg-title.png");
  background-repeat: no-repeat;
  background-position: center top;
  font-size: 1.25em;
  font-weight: 900;
}

.title p {
 margin: 0 auto auto auto;
 color: white;
}

.results-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px 25px;
  margin: 50px auto;
}

.results img {
  width: 33%;
  margin: auto 10%;
}

.results p {
  font-size: 3em;
  float: right;
  padding: 20px 15px;
  margin: 0;
}

h3 {
  margin-left: 25px;
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

label, .reset-button {
  background: rgb(233,105,14);
  background: linear-gradient(90deg, rgba(233,105,14,1) 0%, rgba(242,173,32,1) 100%);
  text-align: left;
  border: none;
  padding: 14px 24px;
  color: white;
  width: 70%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  margin: 40px 10%;
}

.reset-button {
  text-align: center;
}

label:hover, button:hover {
  cursor: pointer;
}

label img {
  padding-left: 50px;
}

.container {
  display: none;
}

.loading-gif {
  display: block;
  margin: 60px auto;
}

.search-container {
  margin-top: 40px;
  width: 100%;
}

.search-container input[type=text] {
  padding: 7px;
  font-size: 1.25em;
  font-family: 'Lato', sans-serif;
  border: none;
  width: 75%;
  margin-left: 2%;
}

.search-container button {
  padding: 8px 6px 6px 6px;
  width: 40px;
  max-height: 40px;
  background: rgb(233,105,14);
  background: linear-gradient(90deg, rgba(233,105,14,1) 0%, rgba(242,173,32,1) 100%);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#loadPage, #resultsPage {
  display: none;
}

#result-title{
  text-transform: capitalize;
}

#result-content{
  font-size: 14px;
  margin-bottom: 4px;
}
